<main class="lista-vacantes">
    <h2>Job lists</h2>

    {{#if vacantes.length}}
        {{#each vacantes}}
            <div class="vacante">
                <div class="caja">
                    <h3>{{company}}</h3>
                    <p class="puesto">{{title}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Ubication</p>
                    <p class="nombre">{{ubication}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Contract</p>
                    <p class="nombre contrato">{{contract}}</p>
                </div>
                <div class="caja centrar-vertical">
                    <a href="/vacancies/{{url}}" class="btn btn-verde">More Info</a>
                </div>
            </div>
        {{/each}}

    {{else}}
        <p>There is not vacancys</p>
    {{/if}}
    
</main>